__pycache__/
*.pyc
*.pkl
*.db
*.log
.env
.venv/
.ipynb_checkpoints/
*.sqlite3
*.DS_Store
try.py

# Ignore everything in data folder
data/*

# But allow medmcqa_index folder and its contents
!data/medmcqa_index/
!data/medmcqa_index/**
